---
import { getLangFromUrl, useTranslations } from '../../../../i18n/utils';
import GithubMostUsedLanguages from '../../../Github/GithubMostUsedLanguages.astro';
import Badge from '../../../shared/Badge.astro';
import H1 from '../../../shared/H1.astro';
import H2 from '../../../shared/H2.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<H1>{t.skills.title}</H1>
<div class="space-y-8">
  <div>
    <H2>{t.skills.languagesLabel}</H2>
    <ul class="gap-1.5 flex flex-wrap">
      {
        t.skills.languages.map((skill) => (
          <li class="">
            <Badge>{skill}</Badge>
          </li>
        ))
      }
    </ul>
  </div>
  <div>
    <H2>{t.skills.frameworksLabel} & {t.skills.librariesLabel}</H2>
    <ul class="gap-1.5 flex-wrap flex">
      {
        t.skills.frameworksAndLibraries.map((skill) => (
          <li>
            <Badge>{skill}</Badge>
          </li>
        ))
      }
    </ul>
  </div>
  <div>
    <H2>{t.skills.mostUsedLanguagesLabel}</H2>
    <div>
      <GithubMostUsedLanguages />
    </div>
  </div>
</div>
